<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login page</title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <div class="container" id="container">

      <div class="form-container register-container">
        <form action="/create-user" method="POST"> 
          <h1>Register here</h1>

            <div class="form-control">
              <input type="text" id="username" placeholder="Name" name="user"/>
              <small id="username-error"></small>
              <span></span>
            </div>
            <div class="form-control">
              <input type="email" id="email" placeholder="Email" name="email"/>
              <small id="email-error"></small>
              <span></span>
            </div>
            <div class="form-control">
              <input type="password" id="password" placeholder="Password" name="password"/>
              <small id="password-error"></small>
              <span></span>
            </div>
            <div>
                <button type="submit" value="submit">Register</button>
            </div>
          <span>or use your account</span>
          <div class="social-container">
            <a href="/12334" class="social"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
            <a href="ssdfsdf" class="social"><i class="fa-brands fa-google"></i></a>
            <a href="#" class="social"><i class="fa-brands fa-tiktok"></i></a>
          </div>
        </form>
      </div>

      <div class="form-container login-container">
        <form class="form-lg" action="/">
          <h1>Login here.</h1>
          <form action="/cre">
            <div class="form-control2">
              <input type="email" class="email-2" placeholder="Email" name="user"/>
              <small class="email-error-2"></small>
              <span></span>
            </div>
            <div class="form-control2">
              <input type="password" class="password-2" placeholder="Password" name="password"/>

              <small class="password-error-2"></small>
              <span></span>
            </div>
  
  
            <button type="submit" value="submit">Login</button>
          </form>
          <div class="content">
            <div class="checkbox">
              <input type="checkbox" name="checkbox" id="checkbox" />
              <label for="">Remember me</label>
            </div>
            <div class="pass-link">
              <a href="#">Forgot password</a>
            </div>
          </div>
          <span>Or use your account</span>
          <div class="social-container">
            <a href="/123123" class="social"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
            <a href="/1231321" class="social"><i class="fa-brands fa-google"></i></a>
            <a href="#" class="social"><i class="fa-brands fa-tiktok"></i></a>
          </div>
        </form>
      </div>

      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1 class="title">
              Hello <br />
              friends
            </h1>
            <p>If you have an account, login here and have fun</p>
            <button class="ghost" id="login">
              Login
              <i class="fa-solid fa-arrow-left"></i>
            </button>
          </div>

          <div class="overlay-panel overlay-right">
            <h1 class="title">
              Start your <br />
              journey now
            </h1>
            <p>
              If you don'n have an account yet, join us and start your journey
            </p>
            <button class="ghost" id="register">
              Register
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src='/js/main.js'></script>
</html>